@import "vars.css";

body {
  padding: 0;
  margin: 0;
}

.pa55w0rd {
  display: grid;
  grid-template: repeat(auto-fit, minmax(500px, 1fr)) / repeat(auto-fit, minmax(500px, 1fr));
  min-height: 100vh;
  min-width: 100vw;
}

.pa55w0rd__config {
  padding: 1rem;
  background-color: var(--left-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pa55w0rd__output {
  padding: 1rem;
  background-color: var(--right-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pa55w0rd__header h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

.pa55w0rd__header h2 {
  font-size: 1rem;
  margin-top: 0;
}

.pa55w0rd__header {
  margin-bottom: 2rem;
}
