:root {
  --chars: 20;
}

output {
  word-break: break-word;
  font-size: 5rem;
  text-align: center;
  display: block;
}

button {
  float: right;
  background: transparent;
  padding: 0;
  margin: 1rem;
  border: none;
  font-size: 2rem;
}
