form {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 1rem;
}

form button[type="submit"] {
  grid-column: 1 / span 2;
}

enhanced-slider {
  display: flex;
  align-items: baseline;
}

enhanced-slider span {
  display: inline-block;
  width: 3ch;
  margin-left: 1ch;
}
