.pa55w0rd__config {
  padding: 1rem;
  background-color: var(--left-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-form {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 1rem;
  }

  &-button {
    grid-column: 1 / span 2;
    margin-top: 1rem;
  }

  &-length-field {
    display: flex;
    align-items: baseline;

    span {
      display: inline-block;
      width: 3ch;
      margin-left: 1ch;
    }
  }
}
